/*#region Imported Settings  */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* a-Link reset */
a {
    color: inherit;
    cursor: default;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-direction: column;
}

/*#endregion Imported Settings  */

/*#region Content  */

/*** Variables ***/

:root {
    --bg-footer: #282828;
    --bg-header: #080b12;
    --bg-main: #141922;
    --app-theme-color: #a7f62d;

    --footer-height: 100px;

    --padding: 10px;
}

/** Shared  **/

.menu-item:not(.menu-item:first-of-type),
.playlist>*:not(h3),
.download-app,
#album-container nav,
.subtitle,
.listen-more,
.song-artist,
.song-actions {
    color: #ffffffab;
}

/** Graphic effects **/

.a-container {
    pointer-events: none;
}

.a-container>a {
    pointer-events: auto;
}

.a-container:hover {
    transform: scale(1.2);
    margin-right: 10%;
}

.menu a:hover,
.low-aside a:hover,
nav a:hover {
    color: white;
    cursor: pointer;
}

#album-container .img-container {
    position: relative;
}

.play-hover {
    position: absolute;
    top: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: #0000007a;
}

.play-hover i {
    position: absolute;
    background-color: black;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);

    font-size: 2rem;
}

#album-container .img-container:hover>.play-hover {
    display: block;
}

#album-container .artist>.img-container:hover>.play-hover {
    display: block;
    border-radius: 50%;
}

.song-length:hover,
.max-audio:hover {
    cursor: pointer;
}

.song-length:hover .song-playing,
.max-audio:hover .current-audio {
    background-color: var(--app-theme-color);
    position: relative;
}

.song-length:hover .song-playing::after,
.max-audio:hover .current-audio::after {
    content: '\f111';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;

    position: absolute;
    bottom: -5px;
    left: calc(100% - 8px);
}

/** Generics **/
img {
    width: 100%;
}

.xs-hidden {
    display: none;
}

/*#region Utilities  */

.web-app {
    height: 100vh;
    color: white;
}

#app-container {
    flex-grow: 1;
    display: flex;
}

/*#endregion Utilities  */

/*#region Aside  */
aside {
    background-color: black;

    padding: var(--padding);

    justify-content: space-between;
}

aside img {
    width: 30px;
}

.menu-item {
    margin: var(--padding) 0;
}

.create-playlist,
.menu-item,
.low-aside,
.low-aside>* {
    display: flex;
    align-items: center;
}

.low-aside {
    justify-content: space-between;
    height: 70px;
}

aside .download-app i {
    font-size: 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
}

.profile-container .img-container {
    background-color: #666;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.profile-container img {
    border-radius: 50%;
    width: 25px;
    margin-top: 2px;
}


aside span {
    padding: 0 var(--padding) 0;
}

/*#endregion Aside  */

main {
    background-color: var(--bg-main);
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
}

/*#region Header  */

header {
    background-color: var(--bg-header);
    position: absolute;
    width: 100%;
    padding: 25px var(--padding);

    text-align: right;
    opacity: 80%;
}

header a {
    padding: 5px 20px;

    text-transform: uppercase;

    border: 1px solid white;
    border-radius: 20px;
}

/*#endregion Header  */

/*#region Album Container  */

#album-container {
    height: calc(100vh - var(--footer-height));
    padding-top: var(--footer-height);
}

/*#region Nav  */

#album-container nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;

    padding-bottom: 50px;
}

#album-container .category {
    width: calc(100% / 4 - 20px);
    text-transform: uppercase;
    font-size: 0.75rem;
    text-align: center;
}

#album-container .category:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#album-container .category:first-child::after {
    content: '';
    width: 25px;
    border-bottom: 2px solid var(--app-theme-color);
}

/*#endregion Nav  */

#album-container .section-container {
    padding: var(--padding) 20px;
}

#album-container h2:first-child,
#album-container .listen-more {
    padding-bottom: 25px;
}

#album-container h2:not(h2:first-child) {
    padding-top: 25px;
}

#album-container .listen-more {
    padding-top: var(--padding);
}

#album-container .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#album-container .column {
    width: calc(100% / 2 - 5px);
    padding-bottom: var(--padding);
}

#album-container .column>*:not(.img-container) {
    text-align: center;
    padding-top: var(--padding);
}

#album-container .subtitle {
    font-size: 0.75rem;
    /* TODO aggiungere 0.75rem in una var e sostituire */
}

#album-container .artist img {
    clip-path: circle(50%);
}

/*#endregion Album Container  */

/*#region Footer  */

footer {
    background-color: var(--bg-footer);
    height: var(--footer-height);

    display: flex;
    justify-content: space-between;
}

.song-info,
.media-toolbar {
    display: flex;
    align-items: center;
    padding: var(--padding);
    flex-basis: calc(100% / 3);
}

.song-info .img-container {
    width: 20%;
    max-width: 50px;
}

.song-info .song-details,
.media-toolbar {
    padding-left: var(--padding);
    font-size: 0.85rem;
}

.song-details .song-name {
    font-weight: bold;
}

.song-actions>* {
    padding: 2px 0;
}

.song-toolbar {
    flex-grow: 1;
    justify-content: center;
}

.toolbar-buttons,
.toolbar-slidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar-buttons {
    align-self: center;
    width: 200px;
    font-size: 1.2rem;
    padding-bottom: var(--padding);
}

.toolbar-buttons .fa-circle-play {
    font-size: 2rem;
}

.toolbar-slidebar .current-seconds {
    padding-right: var(--padding);
    font-size: 0.85rem;
}

.toolbar-slidebar .total-seconds {
    padding-left: var(--padding);
    font-size: 0.85rem;
}

.song-length,
.max-audio {
    background-color: #5a5a5a;
    border-radius: 10px;
    height: 5px;
    flex-grow: 1;
}

.max-audio {
    flex-grow: 0;
    width: 40%;
}

.song-playing,
.current-audio {
    background-color: white;
    height: inherit;
    border-radius: inherit;
    width: 11%;
}

.current-audio {
    width: 20%;
}

.media-toolbar {
    justify-content: space-between;
}

.media-toolbar>*:not(.max-audio) {
    padding: 0 3px;
}

/*#endregion Footer  */

/*#endregion Content  */

/*#region Media Query  */

@media screen and (min-width: 553px) {

    /*#region Utilities  */
    .xs-show {
        display: none;
    }

    .xs-hidden {
        display: initial;
    }

    /*#endregion Utilities  */

    /*#region Aside  */
    #logo {
        width: 150px;
    }

    aside {
        width: 220px;
        font-size: 0.75rem;
    }


    /* Barra verde a sx dell'home, aggiungo del padding equivalente
    alla differenza assoluta fra il left e lo spessore del border  */
    .menu-item:first-of-type {
        position: relative;
        left: calc(var(--padding) * -1);
        padding-left: 7px;
        border-left: 3px solid var(--app-theme-color);
    }

    .playlist>*:not(h3) {
        padding: var(--padding) 0;
    }

    .playlist h3 {
        padding-top: var(--padding);
    }

    .create-playlist i {
        font-size: 2rem;
        padding-right: var(--padding);
    }


    .low-aside {
        align-items: flex-start;
    }

    .low-aside .download-app {
        width: 100%;
        padding-bottom: var(--padding);
        border-bottom: 1px solid white;
    }

    .download-app i {
        margin-right: var(--padding);
    }

    .profile-container span {
        font-weight: bold;
    }

    /*#endregion Aside  */

    /*#region Footer  */
    .song-actions {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }

    .song-info .img-container {
        width: 25%;
    }

    .media-toolbar {
        column-gap: 5px;
    }

    /*#endregion Footer  */

}

@media screen and (min-width: 639px) {

    /*#region Album-container nav */
    #album-container .category {
        width: calc(100% / 3 - 20px);
    }


    /*#endregion Album-container nav  */

}

@media screen and (min-width: 878px) {

    /*#region Album-container nav */
    #album-container .category {
        width: calc(100% / 5 - 20px);
    }

    /*#endregion Album-container nav  */

    /*#region Album-container  */
    #album-container .container {
        justify-content: initial;
        column-gap: 10px;
    }

    #album-container .column {
        width: calc(100% / 4 - 10px);
    }

    /*#endregion Album-container  */

    /*#region Footer  */
    .media-toolbar {
        justify-content: space-evenly;
        padding-left: 5%;
    }

    /*#endregion Footer  */

}

@media screen and (min-width: 1440px) {

    /*#region Album-container nav */
    #album-container nav {
        padding-left: 20%;
        padding-right: 20%;
    }

    #album-container .category {
        width: auto;
    }

    /*#endregion Album-container nav  */

    /*#region Album-container  */
    #album-container .column {
        width: calc(100% / 6 - 10px);
    }

    /*#endregion Album-container  */

    /*#region Footer  */
    .song-actions {
        flex-direction: row;
        column-gap: var(--padding);
        padding-left: 10%;
    }

    .media-toolbar {
        padding-left: 15%;
    }

    /*#endregion Footer  */

}

/*#endregion Media Query  */

/*#region Debug  */

.debug main {
    /* background-color: aqua; */
}

.debug footer {
    /* min-height: 100px; */
}


.debug aside {
    /* width: 75px; */
}

.debug nav {
    background-color: red;
}

.square {
    height: 600px;
    width: 600px;
}

/*#endregion Debug  */