/*#region Imported Settings  */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* a-Link reset */
a {
    color: inherit;
    cursor: default;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-direction: column;
}

/*#endregion Imported Settings  */

/*#region Content  */

/*** Variables ***/

:root {
    --bg-footer: #282828;
    --bg-header: #080b12;
    --bg-main: #141922;

    --footer-height: 100px;

    --padding: 10px;
}

/** Shared  **/

.menu-item:not(.menu-item:first-of-type),
.playlist>*:not(h3),
.download-app {
    opacity: 0.7;
}

/** Generics **/
img {
    width: 100%;
}

.xs-hidden {
    display: none;
}

/*#region Utilities  */

.web-app {
    height: 100vh;
    color: white;
}

#app-container {
    flex-grow: 1;
    display: flex;
}

/*#endregion Utilities  */

/*#region Aside  */
aside {
    background-color: black;

    padding: var(--padding);

    justify-content: space-between;
}

aside img {
    width: 30px;
}

.menu-item {
    margin: var(--padding) 0;
}

.create-playlist,
.menu-item,
.low-aside,
.low-aside>* {
    display: flex;
    align-items: center;
}

.low-aside {
    justify-content: space-between;
    height: 70px;
}

aside .download-app i {
    font-size: 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
}

.profile-container .img-container {
    background-color: #666;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.profile-container img {
    border-radius: 50%;
    width: 25px;
    margin-top: 2px;
}


aside span {
    padding: 0 var(--padding) 0;
}

/*#endregion Aside  */

main {
    background-color: var(--bg-main);
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
}

/*#region Header  */

header {
    background-color: var(--bg-header);
    position: absolute;
    width: 100%;
    padding: 25px var(--padding);

    text-align: right;
    opacity: 80%;
}

header a {
    padding: 5px 20px;

    text-transform: uppercase;

    border: 1px solid white;
    border-radius: 20px;
}

/*#endregion Header  */

/*#region Album Container  */

#album-container {
    height: calc(100vh - var(--footer-height));
    padding-top: var(--footer-height);
}

/*#endregion Album Container  */

footer {
    background-color: var(--bg-footer);
    height: var(--footer-height);
}

/*#endregion Content  */

/*#region Media Query  */

@media screen and (min-width: 553px) {

    /*#region Utilities  */
    .xs-show {
        display: none;
    }

    .xs-hidden {
        display: initial;
    }

    /*#endregion Utilities  */

    /*#region Aside  */
    #logo {
        width: 150px;
    }

    aside {
        width: 220px;
        font-size: 0.75rem;
    }


    /* Barra verde a sx dell'home, aggiungo del padding equivalente
    alla differenza assoluta fra il left e lo spessore del border  */
    .menu-item:first-of-type {
        position: relative;
        left: calc(var(--padding) * -1);
        padding-left: 7px;
        border-left: 3px solid #a7f62d;
    }

    .playlist>*:not(h3) {
        padding: var(--padding) 0;
    }

    .playlist h3 {
        padding-top: var(--padding);
    }

    .create-playlist i {
        font-size: 2rem;
        padding-right: var(--padding);
    }


    .low-aside {
        align-items: flex-start;
    }

    .low-aside .download-app {
        width: 100%;
        padding-bottom: var(--padding);
        border-bottom: 1px solid white;
    }

    .download-app i {
        margin-right: var(--padding);
    }

    .profile-container span {
        font-weight: bold;
    }

    /*#endregion Aside  */

}

@media screen and (min-width: 640px) {}

@media screen and (min-width: 879px) {}

@media screen and (min-width: 1441px) {}

/*#endregion Media Query  */

/*#region Debug  */

.debug main {
    background-color: aqua;
}

.debug footer {
    /* min-height: 100px; */
}


.debug aside {
    /* width: 75px; */
}

.square {
    height: 600px;
    width: 600px;
}

/*#endregion Debug  */